<app-header></app-header>
<div style="margin-top: 80px">
  <div
    *ngIf="allProducts.length === 0"
    style="height: 80vh"
    class="empty-wislist mt-5 mb-5 d-flex flex-column align-items-center justify-content-center"
  >
    <img
      src="https://cdni.iconscout.com/illustration/premium/thumb/empty-cart-5521508-4610092.png"
      alt=""
    />
    <h1 class="text-danger fw-bolder">You Wishlist is Empty</h1>
    <button routerLink="" class="btn btn-success">Add More Items</button>
  </div>
  <div *ngIf="allProducts.length > 0" class="wishlist">
    <div class="container px-4 px-lg-5 mt-5">
      <h1 class="text-info fw-bolder text-center mb-5">You Wishlist</h1>
      <div
        class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
      >
        <div *ngFor="let product of allProducts" class="col mb-5">
          <div class="card h-100 shadow p-3">
            <!-- Product image-->
            <img
              height="200px"
              routerLink="view/{{ product.id }}"
              class="card-img-top"
              [src]="product.image"
              alt="..."
            />
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 style="overflow-y: hidden" class="fw-bolder">
                  {{ product.title.slice(0, 20) }}...
                </h5>
                <!-- Product price-->
                {{ product.price }}
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="d-flex justify-content-between">
                <button class="btn" (click)="removeItem(product._id)">
                  <i class="fa-solid text-danger fa-heart-circle-minus fa-2x"></i>
                </button>
                <button class="btn" (click)="addToCart(product)">
                  <i
                    style="overflow-y: hidden"
                    class="fa-solid fa-cart-plus text-success fa-2x"
                  ></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
