<app-header></app-header>
<div style="margin-top: 80px;">
  <div *ngIf="cartItems.length===0" style="height: 80vh;" class="empty-wislist mt-5 mb-5 d-flex flex-column align-items-center justify-content-center">
      <img src="https://cdni.iconscout.com/illustration/premium/thumb/empty-cart-5521508-4610092.png" alt="">
      <h1 class="text-danger fw-bolder">You Cart is Empty</h1>
      <button routerLink="" class="btn btn-success">Add More Items</button>
  </div>
  <div *ngIf="cartItems.length>0" class="wishlist">
      <div class="container px-4 px-lg-5 mt-5">
          <h1 class="text-info fw-bolder text-center mb-5">You Cart</h1>
           <div class="row">
              <div class="row col-lg-8">
                <table class="table rounded shadow">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Product Name</th>
                      <th>Image</th>
                      <th>Quantity</th>
                      <th>Price</th>
                      <th><i class="fa-solid fa-ellipsis-vertical"></i></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let product of cartItems; let i=index">
                      <td>{{i+1}}</td>
                      <td>{{product.title.slice(0,20)}}</td>
                      <td><img height="100px" width="100px" [src]="product.image" alt=""></td>
                      <td>
                        <div class="d-flex">
                          <button class="btn" (click)="decrementCart(product._id)">-</button>
                          <input type="num" class="form-control text-center" id="inputQuantity" [value]="product.quantity" style="max-width: 3rem;" readonly>
                          <button class="btn" (click)="incrementCart(product._id)">+</button>
                        </div>
                      </td>
                      <td>${{product.grandTotal}}</td>
                      <td>
                        <button class="btn"><i class="fa-solid fa-trash text-danger" (click)="removeItem(product._id)"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="actions w-100 mb-5 mt-2">
                  <Button class="float-end  btn btn-danger" (click)="emptyCart()">Empty Cart</Button>
                  <Button routerLink="" class="float-end  btn btn-info me-3">Add More Items</Button>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="border rounded shadow p-3">
                  <h3>Sub Total: <span class="text-warning">${{cartTotalPrice}}</span></h3>
                  <hr>
                  <div class="d-grid">
                    <button class="btn btn-primary" (click)="checkout()">Check Out</button>
                  </div>
                </div>
              </div>
           </div>
        </div>
  </div>
</div>
